doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  style.
    body {
      padding: 50px;
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      display: grid;
      justify-content: center;
      background-color: #1E2328;
    }

    a, button, input {
      margin-top: 10px;
      border-radius: 30px;
      background-color: #F5b301;
      color: #1E2328;
      padding: 5px 10px;
      transition: background-color 0.3s, color 0.3s, padding 0.3s;
    }

    a:hover {
      background-color: #e0a800;
      color: #ffffff;
      cursor: pointer;
      padding: 8px 15px;
    }

    p {
      color: #b1b1b1;
    }

    .center {
      text-align: center;
    }

    input[type="text"] {
      text-align: center;
    }
  body
    a(href="/game") link na hru
    a(href="/filter") Filter
    a(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ") druhá hra
